<!DOCTYPE html>
<html lang="en">

<head>
  <title>DishCoveries | Browse Recipe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/ionicons.min.css">

  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a style="font-size: 35px;" class="navbar-brand" href="/contributorHomepage">DishCoveries</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="<%= user && user.userType === 'contributor' ? '/contributorHomepage' : '/viewerHomepage' %>" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/myBrowser" class="nav-link">Browse Recipes</a></li>
          <li class="nav-item active"><a href="/bookmarkedRecipes" class="nav-link">Bookmarks</a></li>
          <% if (user && user.userType == 'contributor') { %>
          <li class="nav-item "><a href="/myRecipes" class="nav-link">My Recipes</a></li>
          <% } %>
          <li class="nav-item"><a href="/myProfile" class="nav-link">Profile</a></li>
          <% if (user && user.userType == 'contributor') { %>
          <li class="nav-item cta"><a href="/addRecipePage" class="nav-link">Add a Recipe</a></li>
          <% } %>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout <i class="fa fa-sign-out"></i></a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center mb-4">
          <h1 class="mb-2 bread">Bookmarked Recipes</h1>
          <p class="breadcrumbs"><span class="mr-2">
              These recipes you see here have been marked as your favorites or selections for future reference. Bookmarking serves as a way for you to easily access and revisit these specific recipes at any given time.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section" style="margin-top: -130px;">
    <div class="container">
      <div class="ftco-search">
        <div class="col-md-12 nav-link-wrap">
          <div class="col-md-12 tab-wrap">


            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" id="searchInput" class="form-control" placeholder="Search recipes...">
                      <div class="input-group-append">
                        <span class="input-group-text search-icon-bg"><i class="fa fa-search"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="recipeCardsContainer" class="row no-gutters d-flex align-items-stretch">
                  <% if (recipes.length === 0) { %>
                  <div class="col-md-12 text-center">
                    <p><strong>You haven't bookmarked any recipes yet.</strong></p>
                  </div>
                  <% } else { %>
                  <!-- Use a forEach loop to dynamically generate recipe content -->
                  <% recipes.forEach(recipe => { %>
                  <div class="col-md-12 col-lg-3 d-flex align-self-stretch recipe-card">
                    <div class="menus d-sm-flex ftco-animate align-items-stretch">
                      <!-- Place the menu-img div inside the text div for better alignment -->
                      <div class="d-flex align-items-center flex-column">
                        <br>
                        <!-- Use the img tag to display the image -->
                        <img src="/uploads/<%= recipe.recipeImage %>" alt="<%= recipe.recipeName %>" class="menu-img img-fluid" style="width: 200px; height: 200px; border-radius: 10px; object-fit: cover;">
                        <div class="mt-2">
                          <h5 class="recipe-name"><strong><%= recipe.recipeName %></strong></h5>
                          <p class="contributor-name"><%= recipe.firstName %> <%= recipe.lastName %></p>
                          <p><strong class="cuisine"> <%= recipe.cuisine %> </strong> | <span class="difficulty"><%= recipe.difficulty %></span> </p>
                          <p>
                            <i class="fa fa-cutlery"></i> <span class="servings"><%= recipe.servings %></span>
                            <i class="fa fa-clock-o"></i> <span class="cook-time"><%= recipe.cookTime %></span>
                          </p>
                        </div>

                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#recipeModal" data-recipe-name="<%= recipe.recipeName %>" data-cuisine="<%= recipe.cuisine %>" data-difficulty="<%= recipe.difficulty %>" data-recipe-image="/uploads/<%= recipe.recipeImage %>" data-prep-time="<%= recipe.servings %>" data-cook-time="<%= recipe.cookTime %>" data-ingredients="<%= recipe.ingredients %>" data-instructions="<%= recipe.instructions %>">
                          View More
                        </a>
                        <br>
                      </div>
                    </div>
                  </div>

                  <% }); %>



                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-weight: bold;">Recipe Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card shadow p-3 mb-5 bg-white rounded" style="border-radius: 10px !important;">
            <div class="row" style="margin-bottom: -40px;">
              <!-- Circular image on the left -->
              <div class="col-md-4 text-center">
                <div style="width: 250px; height: 250px; overflow: hidden; margin: 0 auto;">
                  <img id="recipeImage" class="menu-img img-fluid" style="width: 200px; height: 200px; border-radius: 10px; object-fit: cover;">
                </div>
              </div>
              <!-- Recipe details on the right -->
              <div class="col-md-8">
                <div class="recipe-details">
                  <h2 id="recipeName" class="mb-3"></h2>
                  <p><strong>Cuisine:</strong> <span id="cuisine"></span></p>
                  <p><strong>Difficulty:</strong> <span id="difficulty"></span></p>
                  <p>
                    <i class="fa fa-cutlery"></i> <span id="servings"></span> <i class="fa fa-clock-o"></i> <span id="cookTime"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Ingredients and instructions below -->
          <div class="row mt-4">
            <div class="col-md-12">
              <h3>Ingredients</h3>
              <ul id="ingredients" class="list-unstyled"></ul>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <h3>Instructions</h3>
              <ol id="instructions" class="list-unstyled"></ol>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">

          <p>
            Copyright &copy;<script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank">4D</a></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
    </svg></div>


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>


  <script>
    $('#recipeModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget);
      var recipeName = button.data('recipe-name');
      var cuisine = button.data('cuisine');
      var difficulty = button.data('difficulty');
      var recipeImage = button.data('recipe-image');
      var servings = button.data('prep-time'); // Corrected
      var cookTime = button.data('cook-time'); // Corrected
      var ingredientsString = button.data('ingredients');
      var instructionsString = button.data('instructions');

      // Convert the comma-separated strings to arrays
      var ingredients = ingredientsString ? ingredientsString.split(',').map(ingredient => ingredient.trim()) : [];
      var instructions = instructionsString ? instructionsString.split('.,').map(instruction => instruction.trim()) : [];

      var modal = $(this);
      modal.find('.modal-title').text(recipeName);
      modal.find('#recipeName').text(recipeName);
      modal.find('#cuisine').text(cuisine);
      modal.find('#difficulty').text(difficulty);
      modal.find('#servings').text(servings); // Corrected
      modal.find('#cookTime').text(cookTime); // Corrected
      modal.find('#recipeImage').attr('src', recipeImage);

      // Display ingredients as a numbered list
      var ingredientsHtml = '<ul>';
      ingredients.forEach(function(ingredient, index) {
        ingredientsHtml += '<li>' + ingredient + '</li>';
      });
      ingredientsHtml += '</ul>';
      modal.find('#ingredients').html(ingredientsHtml);

      // Display instructions as a numbered list
      var instructionsHtml = '<ol>';
      instructions.forEach(function(instruction, index) {
        instructionsHtml += '<li>' + instruction + '</li>';
      });
      instructionsHtml += '</ol>';
      modal.find('#instructions').html(instructionsHtml);
    });



    $(document).ready(function() {
      // Attach click event handler to the bookmark button
      $('.bookmark-btn').click(function(e) {
        e.preventDefault();

        // Get the recipe ID from the data-recipe-id attribute
        var recipeID = $(this).data('recipe-id');

        // Send an AJAX request to the server
        $.ajax({
          url: '/addBookmark', // Change this URL to match your server endpoint
          method: 'POST',
          data: {
            recipeID: recipeID
          },
          success: function(response) {
            // Handle the response from the server
            console.log(response);
            if (response.success) {
              // Update the UI or provide feedback to the user
              console.log('Bookmark added successfully');
            } else {
              console.error('Failed to add bookmark');
            }
          },
          error: function(error) {
            // Handle the error
            console.error(error);
          }
        });
      });
    });

    // Get the recipe cards container
    var recipeCardsContainer = $('#recipeCardsContainer');

    // Get all recipe cards
    var allRecipeCards = $('.recipe-card');

    // Store the initial content of the recipe cards container
    var initialRecipeCardsHtml = recipeCardsContainer.html();

    // Get the search input element
    var searchInput = $('#searchInput');

    // Attach event listener for keyup on the search input
    searchInput.on('keyup', function() {
      // Get the search query
      var searchQuery = $(this).val().toLowerCase();

      // Filter recipe cards based on the search query
      var filteredRecipeCards = allRecipeCards.filter(function() {
        // Get the data attributes from the current card
        var recipeName = $(this).find('h5').text().toLowerCase();
        var contributorName = $(this).find('.contributor-name').text().toLowerCase();
        var cuisine = $(this).find('.cuisine').text().toLowerCase();
        var difficulty = $(this).find('.difficulty').text().toLowerCase();
        var servings = $(this).find('.servings').text().toLowerCase();
        var cookTime = $(this).find('.cook-time').text().toLowerCase();

        // Check if any of the properties contain the search query
        return (
          recipeName.includes(searchQuery) ||
          contributorName.includes(searchQuery) ||
          cuisine.includes(searchQuery) ||
          difficulty.includes(searchQuery) ||
          servings.includes(searchQuery) ||
          cookTime.includes(searchQuery)
        );
      });

      // Display the filtered recipe cards or show "No results"
      if (filteredRecipeCards.length > 0) {
        recipeCardsContainer.html(filteredRecipeCards);
      } else {
        recipeCardsContainer.html('<div class="col-md-12 text-center"><p><strong>No results</strong></p></div>');
      }
    });

    // Reset the recipe cards container to its initial content when the search input is empty
    searchInput.on('change', function() {
      if ($(this).val().trim() === '') {
        recipeCardsContainer.html(initialRecipeCardsHtml);
      }
    });
  </script>



</body>

</html>