<!DOCTYPE html>
<html lang="en">

<head>
  <title>DishCoveries | Add a Recipe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/ionicons.min.css">

  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a style="font-size: 35px;" class="navbar-brand" href="/contributorHomepage">DishCoveries</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/contributorHomepage" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/myBrowser" class="nav-link">Browse Recipes</a></li>
          <li class="nav-item active"><a href="" class="nav-link">My Recipes</a></li>
          <li class="nav-item"><a href="/myProfile" class="nav-link">Profile</a></li>
          <li class="nav-item cta"><a href="/addRecipePage" class="nav-link">Add a Recipe</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center mb-4">
          <h1 class="mb-2 bread">My Recipes</h1>
          <p class="breadcrumbs"><span class="mr-2">Welcome to your personalized recipe collection! On this page, you can manage, view, and edit all the recipes you've contributed. This is your space to showcase your culinary creations and keep track of your favorite recipes. Feel free to explore, update, and share your delicious recipes with the DishCoveries community.</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="ftco-search">
        <div class="col-md-12 nav-link-wrap">
          <div class="col-md-12 tab-wrap">
            <div class="tab-content" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="row no-gutters d-flex align-items-stretch">
                  <% if (recipes.length === 0) { %>
                  <!-- Display message when the user has no recipes -->
                  <div class="col-md-12 text-center">
                    <p><strong>You haven't added any recipes yet.</strong></p>
                  </div>
                  <% } else { %>
                  <!-- Use a forEach loop to dynamically generate recipe content -->
                  <% recipes.forEach(recipe => { %>
                  <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                    <div class="menus d-sm-flex ftco-animate align-items-stretch">
                      <div class="menu-img img" style="background-image: url('/uploads/<%= recipe.recipeImage %>');"></div>

                      <div class="text d-flex align-items-center">
                        <div>
                          <div class="d-flex">
                            <div>
                              <h3><strong><%= recipe.recipeName %></strong></h3>
                            </div>
                          </div>
                          <div>
                            <p>
                              <strong><%= recipe.cuisine %></strong> | <%= recipe.difficulty %>
                            </p>
                          </div>

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#recipeModal" data-recipe-name="<%= recipe.recipeName %>" data-cuisine="<%= recipe.cuisine %>" data-difficulty="<%= recipe.difficulty %>" data-recipe-image="/uploads/<%= recipe.recipeImage %>" data-ingredients="<%= recipe.ingredients %>" data-instructions="<%= recipe.instructions %>">
                            View More
                          </a>

                        </div>
                      </div>
                    </div>
                  </div>
                  <% }); %>
                  <% } %>
                  <!-- Modal -->
                  <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 style="font-weight: bold;">Recipe Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <!-- Circular image on the left -->
                            <div class="col-md-4 text-center">
                              <div style="width: 250px; height: 250px; overflow: hidden; margin: 0 auto;">
                                <img id="recipeImage" class="img-fluid" alt="Recipe Image" style="width: 100%; ">
                              </div>
                            </div>
                            <!-- Recipe details on the right -->
                            <div class="col-md-8">
                              <p><strong>Name:</strong> <span id="recipeName"></span></p>
                              <p><strong>Cuisine:</strong> <span id="cuisine"></span></p>
                              <p><strong>Difficulty:</strong> <span id="difficulty"></span></p>
                            </div>
                          </div>
                          <!-- Ingredients and instructions below -->
                          <div class="row mt-3">
                            <div class="col-md-12">
                              <h6>Ingredients:</h6>
                              <p id="ingredients"></p>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-12">
                              <h6>Instructions:</h6>
                              <p id="instructions"></p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">

          <p>
            Copyright &copy;<script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank">4D</a></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
    </svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>

  <script>
    $('#recipeModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var recipeName = button.data('recipe-name');
        var cuisine = button.data('cuisine');
        var difficulty = button.data('difficulty');
        var recipeImage = button.data('recipe-image');
        var ingredientsString = button.data('ingredients'); // Get the ingredients as a comma-separated string
        var instructionsString = button.data('instructions'); // Get the instructions as a comma-separated string

        // Convert the comma-separated strings to arrays
        var ingredients = ingredientsString ? ingredientsString.split(',').map(ingredient => ingredient.trim()) : [];
        var instructions = instructionsString ? instructionsString.split('.,').map(instruction => instruction.trim()) : [];

        var modal = $(this);
        modal.find('.modal-title').text(recipeName);
        modal.find('#recipeName').text(recipeName);
        modal.find('#cuisine').text(cuisine);
        modal.find('#difficulty').text(difficulty);
        modal.find('#recipeImage').attr('src', recipeImage);

        // Display ingredients as a numbered list
        var ingredientsHtml = '<ol>';
        ingredients.forEach(function(ingredient, index) {
            ingredientsHtml += '<li>' + ingredient + '</li>';
        });
        ingredientsHtml += '</ol>';
        modal.find('#ingredients').html(ingredientsHtml);

        // Display instructions as a numbered list
        var instructionsHtml = '<ol>';
        instructions.forEach(function(instruction, index) {
            instructionsHtml += '<li>' + instruction + '</li>';
        });
        instructionsHtml += '</ol>';
        modal.find('#instructions').html(instructionsHtml);
    });
</script>


</body>

</html>